.lab-navbar {
    width: 100%;
    height: 64px;
    background: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.lab-navbar-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.lab-navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 70px;
    /* отступ слева для логотипа */
}

.lab-navbar-img {
    height: 48px;
    width: auto;
    display: block;
}

.lab-navbar-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 600px) {
    .lab-navbar-title {
        font-size: 1.3rem;
    }
}